<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>股票查询系统</title>
</head>
<body>
<center><h1>欢迎使用查询系统:涨幅分析</h1></center>
<center><a th:href="@{/download}">点击下载股票详情</a></center>
<center> <table style="width: 95%;text-align: center"></center>
<tr>
    <td style="margin-left: 15px">股票代码</td>
    <td style="margin-left: 15px">名字</td>
    <td style="margin-left: 15px">目前价格</td>
    <td style="margin-left: 15px">历史记录查看</td>
</tr>
<tr th:each="m : ${shares_list}">
    <td  th:text="${m.code}" style="margin-left: 15px"></td>
    <td th:text="${m.name}" style="margin-left: 15px"></td>
    <td th:text="${m.nowPrice}" style="margin-left: 15px"></td>
    <td ><a th:href="@{/sharehistory/toHistory/}+${m.hangyecode}+'/'+${m.code}" style="margin-left: 15px">查看</a></td>
</tr>
</table>
<a th:href="@{/shares/}+${pre}" th:text="上一页"></a>
<tr th:each="page : ${pageNum}">
    <td><a th:href="@{/shares/}+${page}" th:text="${page}"></a></td>
</tr>
<a th:href="@{/shares/}+${next}" th:text="下一页"></a>
</body>
</html>